<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Buttons</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
      <ion-button color="dark">
          <ion-icon name="person-add"></ion-icon>
        </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- normal buttons -->
 <ion-button size="samll" expand="full">Small</ion-button>
 <ion-button size="default" expand="full">Default</ion-button>
 <ion-button size="large" expand="full">Large</ion-button>
 <!-- anchor tag -->
  <ion-button class="top-20" expand="full" [routerLink]="['/alert']" color="tertiary">Go To</ion-button>
  <!-- implementing ion-row plus ion-column -->
  <ion-row class="top-20">
    <ion-col>
      <ion-button expand="full" [routerLink]="['/action-sheet']" color="tertiary">Action Page</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" [routerLink]="['/avatar']" color="tertiary">Avatar Page</ion-button>
    </ion-col>
  </ion-row>
  <!-- fill buttons -->
  <ion-button class="top-20" fill="clear">Clear</ion-button>
  <ion-button class="top-20" fill="outline">Outline</ion-button>
  <ion-button class="top-20" fill="solid">Solid</ion-button>
</ion-content>
